.about-page-content .container-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 40px;
}

.about-page-content .container-main .about-item p {
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 8px;
}

.about-page-content .container-main .about-item h2 {
    width: 400px;
    color: #134e88;
    font-size: 24px;
    font-weight: 600;
}

.about-page-content .container-main .about-item .about-why {
    max-width: 786px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
}

.about-page-content .container-main .about-item .about-why div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.about-page-content .container-main .about-item .about-why div p {
    font-size: 14px;
    color: #00000079;
    line-height: normal;
    text-align: center;
}

.about-page-content .container-main .about-item .about-why div .about-why-img {
    width: 84px;
    height: 84px;
    background-color: #f7f7ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1025px) {
    .about-page-content .container-main {
        gap: 45px;
    }

    .about-page-content .container-main .about-item p {
        font-size: 16px;
        line-height: 28px;
    }

    .about-page-content .container-main .about-item h2 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .about-page-content .container-main {
        margin-block: 32px;
    }
}