.categories-section {
    margin-block: 40px;
}

.categories-section .categories-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 12px;
}

@media screen and (max-width: 992px) {
    .categories-section {
        margin-block: 32px;
    }
}