.form-container,
.contact-form {
    box-shadow: 0px 10px 40px rgb(0 0 0 / 0.06);
    background-color: #fff;
    max-width: 752px;
    width: 100%;
    margin: auto;
    position: relative;
    top: -50px;
    z-index: 10;
    padding-inline: 56px;
    border-radius: 8px;
    padding-bottom: 56px;
}

.form-container.form-online-container,
.contact-form.form-online-container {
    max-width: 1128px;
    padding-inline: 75px;
    padding-bottom: 75px;
}

.form-container .form-title,
.contact-form .form-title {
    padding-block: 32px;
}

.form-container h1,
.form-container h2,
.form-container h3,
.contact-form h1,
.contact-form h2 {
    font-size: 28px;
    font-weight: 700;
    color: #253a7b;
}

.form-container p,
.contact-form p {
    font-size: 12px;
    color: #495057;
    line-height: 20px;
}

.form-container .form-inputs,
.contact-form .form-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    gap: 24px;
    margin-bottom: 24px;
}

.form-container .form-inputs.online,
.contact-form .form-inputs.online {
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
}

.form-inputs .input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-inputs .input-container .drop-down {
    position: absolute;
    left: 0;
    top: 26px;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
}

label {
    color: #252f40;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 8px;
    display: block;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 24px;
}

.form-actions button {
    max-width: 156px;
    height: 40px;
    width: 100%;
    background-color: #253a7b;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    outline: 0;
    border: 0;
}

.contact-form .form-inputs {
    display: grid;
    grid-template-columns: repeat(2, minmax(308px, 1fr));
    gap: 24px;
}

.select-box {
    position: relative;
    direction: ltr;
}

.select-box input {
    width: 100%;
    font-size: 12px;
    font-weight: normal !important;
    color: #495057;
    outline: none;
    border: 0;
}

.selected-option {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.selected-option div {
    position: relative;
    width: 70px;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal !important;
    color: #495057;
    border-right: 1px solid #ccc;
}

.selected-option div::after {
    position: absolute;
    content: "";
    right: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-right: 0.12rem solid #495057;
    border-bottom: 0.12rem solid #495057;
    transition: 0.2s;
}

.selected-option div.active::after {
    transform: translateY(-50%) rotate(225deg);
}

.selected-option strong {
    font-size: 12px;
    font-weight: normal !important;
    color: #495057;
}

.select-box .options {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
    display: none;
    z-index: 5;
}

.select-box .options.active {
    display: block;
}

input.search-box {
    background-color: #eee;
    color: #000;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2px 10px;
    font-size: 12px;
}

.select-box ol {
    list-style: none;
    max-height: 160px;
    overflow: overlay;
    border: 1px solid #ccc;
}

.select-box ol::-webkit-scrollbar {
    width: 0.4rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: 0.4rem;
}

.select-box ol li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
}

.select-box ol li strong {
    font-weight: 400;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: 0.1rem solid #eee;
}

.select-box ol li:hover {
    background-color: #eee;
}

.select-box ol li .country-name {
    margin-left: 0.4rem;
}

.drop-list {
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 130px;
    overflow-y: scroll;
    width: 310px;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    font-size: 14px;
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease;
}

.drop-list li {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    font-size: 12px;
}

.drop-list li:hover {
    background-color: #d5dff1;
}

.drop-list::-webkit-scrollbar {
    width: 0.4rem;
}

.drop-list::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: 0.4rem;
}

.show-list {
    top: 70px;
    z-index: 10;
    opacity: 1;
    display: block;
}

.input-file::-webkit-file-upload-button {
    visibility: hidden;
    width: 0px;
}

.input-file {
    padding-inline: 0 !important;
    color: #495057;
}

.input-file span {
    margin-top: 8px;
    font-size: 12px;
    color: #495057;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.upload-file {
    position: absolute;
    background-color: #253a7b;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 26px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 700px) {
    .form-container h1,
    .form-container h2,
    .form-container h3,
    .contact-form h1,
    .contact-form h2 {
        font-size: 26px;
    }

    .form-container,
    .contact-form {
        max-width: 95%;
        padding-inline: 25px;
        padding-bottom: 30px;
    }

    .form-container .form-title,
    .contact-form .form-title {
        padding-block: 20px;
    }

    .form-container.form-online-container,
    .contact-form.form-online-container {
        max-width: 95%;
        padding-inline: 25px;
        padding-bottom: 30px;
    }

    .form-container h2,
    .contact-form h2 {
        font-size: 24px;
    }

    .form-container .form-inputs,
    .contact-form .form-inputs {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 16px !important;
    }

    .form-container .form-inputs.online,
    .contact-form .form-inputs.online {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .form-actions {
        justify-content: center;
    }

    .form-actions button {
        max-width: 100%;
    }
}